:root {
  --primary: #F3737E ;
  --secondary: #F0F5F4;
}

@tailwind base;

*::-webkit-scrollbar {
  width: 8px;
  margin-right: 4px;
}

*::-webkit-scrollbar-track {
  background: var(--secondary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 14px;
  /* border: 3px solid var(--primary); */
}

@tailwind components;
@tailwind utilities;

input[type = 'text'], input[type='password'], input[type="email"],textarea, input[type = 'number']{
  @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
textarea{
 height: 140px; 
}
button{
  @apply bg-gray-300;
}
button.primary{
  background-color: #D291BC;
  @apply bg-primary p-2 w-full text-white rounded-2xl;
}